.photo{
    margin-right: 100px;
  }
  .container{
      width:1000px;
      height:700px;
      display:flex;
      margin:20px
  }
  body{
      background-color: beige;
      display:flex;
      justify-content:center;
      align-items:center;
      height:100vh;
  }
  .login-form{
      margin:0;
      width:500px;
      height:700px;
      background-color: rgb(206, 221, 222);
  }
  .butt{
      font-size:15px;
      display: flex;
      background-color: rgb(60, 117, 203);
  }
  .form{
      font-size:20px;
  }
